*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
.logo-img{
    width:40px;
    height: 40px;
}
.nav-items> ul {
    padding-right: 40px;
    display:flex;
    list-style-type: none;
    font-size: 20px;
}
.nav-items> ul> li{
 padding: 5px;
 margin: 5px;
}
.search{
    margin: 5px;
    padding: 5px;
}
.card{
    /* height: 400px; */
    width:300px;
    background-color:#f0f0f0;
    padding: 5px;
    margin: 10px;
}
.card:hover{
    border: 2px solid black;
    box-shadow: inset  10px 10px 5px 0px rgba(165,184,160,1);
    cursor:pointer;
}
.rest-img{
    width:100%;
    height:200px;
}
.rest-container{
    display:flex;
    flex-wrap:wrap; 
    justify-content: space-around;
    padding:5px;
}
.rest-container-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}
.rest-content{
    
    letter-spacing: -0.3px;
}

